.alert{
	margin:0 auto	
	text-align:center;
}


.title{
	width:100%;
	height:50px;
	font-size:38px;
	color:white;
	text-align:center;
	line-height:50px;
	margin-bottom:20px;	
}

html.bootstrap-admin-vertical-centered .container {
	display:table;
	height:100%;
	padding:0;
	width:100%;
	background-image:url(login_res_bg.jpg);
	background-repeat:no-repeat;
}