
* {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    position: absolute;
    width: 100%;
    height: 310px;
    background-image: url(head_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

    .header .img {
        position: absolute;
        top: 10%;
        margin-top: 0%;
    }

    .header .username {
        position: absolute;
        z-index: 10;
        top: 28%;
        left: 6.8%;
        font-size: 30px;
        color: white;
        width: 310px;
        height: 110px;
        text-align: center;
        line-height: 110px;
        font-weight: bold;
    }


        .header .username a {
            width: 100%;
            height: 100%;
            color: white;
            display: block;
        }

    .header .nav {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #169fe6;
        opacity: 0.85;
    }

        .header .nav ul li {
            float: left;
            width: 150px;
            height: 50px;
            margin-left: 10px;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            color: #fff;
        }

            .header .nav ul li a {
                width: 100%;
                height: 100%;
                display: block;
                color: #fff;
                text-decoration: none;
            }

                .header .nav ul li a:hover {
                    background-color: #fff;
                    color: #169fe6;
                }


.nav ul li .dropdown-menu li a {
    color: #fff;
    font-size: 14px;
    margin-left: -10px;
    width: 100%;
}

.body {
    clear: both;
    overflow: hidden;
    float: left;
    top: 0;
    width: 100%;
    height: 1030px;
    background-color: #e9ecf3;
    position: relative;
    z-index: -3;
}


.content {
    width: 90%;
    height: 830px;
    float: left;
    margin-left: 5%;
    position: relative;
    z-index: -1;
}

    .content .left {
        width: 23%;
        height: 100%;
        float: left;
    }

    .content .right {
        width: 77%;
        float: left;
        height: 100%;
    }


.left .left_item {
    margin-top: 20px;
    width: 100%;
    float: left;
}

    .left .left_item .title {
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #169fe6;
        color: #fff;
        font-size: 20px;
        line-height: 40px;
    }

    .left .left_item .context {
        width: 100%;
        min-height: 150px;
        background-color: #fff;
        color: black;
        font-size: 16px;
        padding: 10px;
    }

    .left .left_item .notic {
        height: 150px;
    }

    .left .left_item .context marquee label {
        font-size: 14px;
        font-weight: normal;
    }


    .left .left_item .context a {
        display: block;
        margin-top: 5px;
    }


.footer {
    width: 100%;
    height: 50px;
    background-color: #169fe6;
    float: left;
}

    .footer label {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        float: left;
        color: #fff;
    }
